@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-ExtraBoldItalic.otf') format('opentype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('font/Gilroy-LightItalic.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('font/Avenir-Medium-09.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('font/Avenir-Light-07.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
body {
  /* sementara ya buat ngetes fontnya source sans pro dulu */
  font-family: 'Gilroy'
}
.bg-home {
  background-image: url('asset/Home-bg.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  color: white;
}
.bold-title {
  font-weight: bolder;
}
.subtitle-content {
  font-family: 'Avenir';
  font-weight: lighter;
}
.first-header-padding {
  padding-top: 120px;
}
.bg-home h1 {
  font-size: 50pt;
}
.logo img {
  height: 35px
}
.logo {
  padding: 15px 20px
}
.btn-home {
  background-color: #2F8FFD;
  border-radius: 2px;
  color: white;
}
.bg-home button {
  font-weight: 700;
}